.sign-in-section {
    display: flex;
    height: 100vh;
}

.signin-image-div {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: 6%;
}

.signin-image {
    width: 80%;
}

.signin-form-section {
    width: 50%;
    background-color: #780000;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    padding-top: 100px;
}
.signin-form-description {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin-bottom: 30px;
}

.signin-form-title{
    font-size: 70px;
    font-weight: 700;
    color: #E5E5E5;
    margin-top: 20px;
}

.signin-form-subtitle{
    font-size: 25px;
    font-weight: 400;
    color: #E5E5E5;
}

.signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-form-input-div {
    background-color: #E5E5E5;
    display: flex;
    width: 70%;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
    margin: 7px;
}
.signin-form-icon {
    width: 7%;
}

.signin-form-element {
    background-color: #E5E5E5;
    width: 90%;
}

.signin-form-element::placeholder{
    color: #780000;
}

.signin-form-element:focus{
    outline: none;
}

.sign-in-form-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.signin-form-input-submit-div {
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    width: 70%;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
    margin: 7px;
    cursor: pointer;
    color: #780000;
}

.sign-in-form-submit {
    background-color: #E5E5E5;
    color: #780000;
    font-weight: 600;
    font-size: 25px;
}

.signin-form-login-option {
    color: #E5E5E5;
    margin-top: 5px;
}

.signin-form-login-link {
    font-weight: 700;
    color: #E5E5E5;
    text-decoration: none;
}

.signin-form-input-radio-div {
    display: flex;
    gap: 10px;
    margin: 5px 220px 5px 0;
}

.signin-form-input-radio {
    display: flex;
    gap: 5px;
}


.signin-form-input-radio-label {
    color: #E5E5E5;
    font-weight: 500;
}